html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
   position: relative;
    float: left;
    
}
li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.parallax {
    /* The image used */
    background-image: url("howhelp.png");
    opacity: .7;

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    color: rgb(16,16,16);
    font-size: 100px;
    text-align:center;
    height: 5em;
    line-height: 5em;
    font-family: Argentum;

          
     

    
    
    
}

.gun {
    height:200px;
    width:300px;
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    float: inherit;
    margin-bottom: 20px;
}
.awareness{
    float: left;
    width: 150px;
    border: 10px;
    border-color: coral;
    padding: 0px;
    margin: 0px;
    height:auto;
    position: absolute;
    top: 0px;
    
}